<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ISJ DATAVIZ</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css'%}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}" />
</head>

<body>
  {% block body %}
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{%static 'images/logo.png' %}" alt="logo">
              </div>
              <h4>Hey! On y va</h4>
              <h6 class="fw-light">Connectez-vous pour continuer</h6>
              <form action="{% url 'login' %}" method="post" class="pt-3">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="username" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Identifiant">
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Mot de passe">
                </div>
                <div class="mt-3">
                  <input type="submit" value="Connexion" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                  {% comment %} <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="home/">Connexion</a> {% endcomment %}
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  ⛔ Cette application n'est réservée qu'au personnel pédagogique de l'Institut Saint Jean
                </div>
              </form>
              {% if message %}
                <div>{{message}}</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{%static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{%static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.jsk' %}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{%static 'js/off-canvas.js' %}"></script>
  <script src="{%static 'js/hoverable-collapse.js' %}"></script>
  <script src="{%static 'js/template.js' %}"></script>
  <script src="{%static 'js/settings.js' %}"></script>
  <script src="{%static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  {% endblock %}
</body>

</html>
