<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ISJ DATAVIZ</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css'%}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' % }">
  <link rel="stylesheet" href="{% static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}" />
  <script src="https://kit.fontawesome.com/679e44cd93.js" crossorigin="anonymous"></script>
  `{%block style%}
    {%endblock%}

</head>
<body>
  {% block body %}
  <div class="container-scroller">
   
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="index.html">
            ISJ DATAVIZ
          </a>
          <a class="navbar-brand brand-logo-mini" href="index.html">
            <img src="{% static 'images/logo.png' %}" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top" style="display: flex ; justify-content: space-between"> 
        <div>
          <ul class="navbar-nav">
            <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
              <h1 class="welcome-text">
                Bienvenue dans l'application <span class="text-black fw-bold" >DataViz</span>
      
                &nbsp; &nbsp; &nbsp; &nbsp; 
              </h1>
            </li>
          </ul>
        </div>
        <div style="display: flex; justify-content: space-between">
         
          <div  style="display: flex; flex-direction: column; justify-content: center; ">
            <span class="text-black fw-bold">{{name}}</span> 
          </div>
          <div  style="display: flex; flex-direction: column; justify-content: center;  margin-left: 10px;">
            <i class="fa-solid fa-circle-user fa-2xl"></i>
         </div>
         <div  style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px;">
          
            <a href="{%url 'logout' %}">Log Out</a>
          </div>

        </div>
        
        
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <p class="settings-heading">THEMES DE L'APPLICATION</p>
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">Menu gauche</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
          <p class="settings-heading mt-2">En-tête</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/Dataviz/form">
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-right:20px" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg> 
              <span class="menu-title">Accueil</span>
            </a>
          </li>
          <li>
            <div class="input-group rounded">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search" style="color: rgb(34, 58, 154);"></i>
              </span>
            </div>
          </li>
          <li class="nav-item nav-category">Bilans {{a}}</li>
        
       
          {% for a in annee %} 
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#owi{{a}}" aria-expanded="true" aria-controls="owi{{a}}">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">Récap {{a}}</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="owi{{a}}">
              {% for s in menu %}  
              <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/Dataviz/bilan-semestriel/{{a}}/{{s}}">{{s}} </a></li>
                
              </ul>
              {% endfor %} 

            </div>
          </li>
          {% endfor %} 
         
       
        </ul>
       
      </nav>
      <!-- partial -->
     
      <div class="main-panel">
       
        <div class="content-wrapper">
       
          <div class="row">
            
            <div class="col-sm-12">
             
              <div class="home-tab">
                {%block content%}
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Insertions</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences" role="tab" aria-selected="false">Statistiques</a>
                    </li>
                   
                  </ul>
                </div>
                <div class="tab-content tab-content-basic">
                  
                  <!--Section des insertions-->

                  <div class="tab-pane fade show active"  id="overview" role="tabpanel" aria-labelledby="overview"> 
                    <div>
                      <div class="btn-wrapper">
                       <!--<a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                        <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a> -->
                        <form action="{% url 'form' %}" method="POST" enctype="multipart/form-data" class="mb-3">
                          {% csrf_token %}
                          <label for="formFileSm" class="form-label">Importez un fichier de notes(.xlsx)</label>
                          <input class="form-control form-control-sm" name="file_pv" id="formFileSm" type="file" required="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"> <!--accept=".xlsx,.xls,.csv"-->
                          <br/>
                          <button type="submit" class="btn btn-primary text-white me-0" data-toggle="modal" data-target="#exampleModalCenter"><i class="icon-download"></i> Import file</button>
                     
                          {% if messages %}
                             <div><p style="color: red; font-weight: bold; font-style: italic;">{{messages}}</p></div>
                          {% endif %}
                        </form>
                      </div>
                    </div>
  
                    
                    <div class="col-lg-12 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Fichiers importés</h4>
                          <p class="card-description">
                            Récapitulatifs des notes
                          </p>
                          <div class="table-responsive">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>
                                    Nom du fichier
                                  </th>
                                <th>
                                    Annee
                                  </th>
                                  <!-- <th>
                                    Date d'ajout
                                  </th> -->
                                  <th>
                                    Imprimer
                                  </th>
                                  <!-- / -->
                              </thead>
                              
                              {% for p in pv %}
                              
                                <tr>
                                  <td>
                                    {{p.id}}
                                  </td>
                                  <td>
                                    {{p.annee}}
                                  </td>
                                  <!-- <td>
                                    {{p.date_save}}
                                  </td> -->
                                  <td>
                                    <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                                  </td>
                                  <!-- <td>
                                    <a href="#" class="btn btn-otline-dark"><i class="icon-upload"></i> Download</a>
                                  </td> -->
                                </tr>
                                {% endfor %}
                   
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                     

                  </div>


                  <!--Section des statistiques-->
                  <div class="tab-pane fade show " id="audiences" role="tabpanel" aria-labelledby="audiences">

                    <div>
                      <div class="btn-wrapper">
                       <!--<a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                        <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a> -->
                        <form enctype="multipart/form-data" method="POST" class="mb-3">
                       
                          <!-- <label for="formFileSm" class="form-label">Importez un fichier de notes(.xlsx)</label>
                          <input class="form-control form-control-sm" id="formFileSm" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"> accept=".xlsx,.xls,.csv" -->
                          <br/>
                          <!-- <button type="submit" class="save btn btn-primary text-white me-0"><i class="icon-download"></i> Import file</button> -->
                        </form>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                   <h4 class="card-title card-title-dash">Evolution des taux sur les années</h4>
                                   <h5 class="card-subtitle card-subtitle-dash">Graphes des courbes des taux</h5>
                                  </div>
                                  <div id="performance-line-legend"></div>
                                </div>
                                <div class="chartjs-wrapper mt-5">
                                  <canvas id="performaneLine"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                            <div class="card bg-primary card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-white mb-4">Total Annuel Rattrapages</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    <p class="status-summary-ight-white mb-1">Rattrapages</p>
                                    <h2 class="text-info">357</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      <canvas id="status-summary"></canvas>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                      <div class="circle-progress-width" >

                                        <div id="totalVisitors" class="progressbar-js-circle pr-2"></div>
                                      </div>
                                      <div>
                                        <p class="text-small mb-2">Taux de réussite</p>
                                        <h4 class="mb-0 fw-bold">73.20%</h4>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="circle-progress-width">
                                        <div id="visitperday" class="progressbar-js-circle pr-2"></div>
                                      </div>
                                      <div>
                                        <p class="text-small mb-2">Taux d'échec</p>
                                        <h4 class="mb-0 fw-bold">26.80%</h4>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div>
                 
                </div>
                {%endblock%}

                
              </div>
              
            </div>
           
          </div>
    
        </div>
    
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        
        <!-- partial -->
      </div>
    
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  {% endblock %}
  <!-- container-scroller -->

  <!-- plugins:js -->
  {%block js_block%}
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  
  <script src="{% static 'js/off-canvas.js'% }"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{%static 'js/Chart.roundedBarCharts.js' %}"></script>

  {%endblock%}
  <!-- End custom js for this page-->
  
 

</body>

</html>

